<img [src]="imageUrl" alt="Livro" class="w-100">

<h1 class="titulo mt-4 mb-3">O livro</h1>

<p class="fw-semibold">
  CADA CASA TEM ALGO PARA CONTAR E É ISSO QUE TRAZEMOS EM NOSSO LIVRO, UMA SELEÇÃO DE OBRAS CUJAS IMAGENS NOS
  TRANSPORTAM PARA DIVERSOS LUGARES E MUITAS HISTÓRIAS. ELAS MOSTRAM UM POUCO DO NOSSO TRABALHO NESSES ÚLTIMOS
  <span class="text-primary fw-bold">20 ANOS</span>.
</p>

<p class="fw-semibold mt-5">
  PARA ADQUIRIR O LIVRO, ENTRE EM CONTATO CONOSCO PELO NOSSO
  <a target="_blank" [href]="environment.whatsappUrl" class="hover-underline">WHATSAPP</a>.
</p>