<img [src]="imageUrl" alt="Fachada" class="w-100">

<h1 class="titulo mt-4 mb-3">O que fazemos?</h1>

<p class="fw-semibold">
  NÓS <span class="fw-bold">ATUALMENTE TRABALHAMOS</span> COM PROJETO ARQUITETÔNICO, PROJETO DE INTERIORES, PAISAGISMO,
  REGULARIZAÇÃO E REFORMA, PBA, PROJETOS COMPLEMENTARES E URBANISMO.
</p>

<p class="fw-semibold">
  <span class="fw-bold">NOSSA FILOSOFIA:</span>
  "ARQUITETURA É UM FATO DE ARTE, UM FENÔMENO DE EMOÇÃO FORA DAS QUESTÕES DE CONSTRUÇÃO. A CONSTRUÇÃO
  É PARA SUSTENTAR, A ARQUITETURA É PARA EMOCIONAR"<br>(LE CORBUSIER)
</p>

<p class="fw-semibold">
  UMA ARQUITETURA RACIONAL QUE RESPEITE SEU ENTORNO, COM LINHAS RETAS, ÂNGULOS DIFERENCIADOS E USO DE CORES ONDE
  ESTRUTURA E BELEZA CONVIVEM LADO A LADO.
  <br>
  CRIANDO ASSIM PROJETOS DIFERENCIADOS QUE INTEGRAM A NATUREZA AO PROJETO ATRAVÉS DE QUESTÕES DE CONFORTO TÉRMICO,
  FAZENDO DO CLIMA UM ALIADO DA ARQUITETURA.
  <br>
  PROPOR UMA ARQUITETURA DIFERENCIADA, ESPAÇOS PRÁTICOS E FUNCIONAIS ALIADOS A UMA BOA UTILIZAÇÃO DA VENTILAÇÃO E
  ILUMINAÇÃO NATURAL PROPORCIONANDO UM ESPAÇO DE QUALIDADE AO CLIENTE.
  <br>
  SABER ALIAR TODOS ESSES FATORES EM UMA OBRA, SEJA ELA PEQUENA OU GRANDE, É O QUE FAZ DA ARQUITETURA UMA
  ARTE...
</p>
