.skeleton-table {
  .skeleton-loader {
    width: 100%;
    display: block;
    color: transparent;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%), lightgray;
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 1s infinite;
    border-radius: 6px;
  }

  @keyframes shine {
    to {
      background-position: 100% 0, 0 0;
    }
  }

  @media screen and (max-width: 880px)  {
    th, td {
      &:not(:first-of-type) {
        display: none;
      }
    }
  }

  @media screen and (max-width: 500px)  {
    th {
      display: none;
    }

    td {
      height: 52px;
    }
  }
}
