<ng-container *ngIf="getColumns() as columns">
  <ng-container *ngIf="getRows() as rows">
    <table class="table table-eg skeleton-shape skeleton-table" aria-label="Lista carregando"
      style="table-layout: fixed;">
      <thead>
        <tr>
          <th #th *ngFor="let index of columns">
            <span class="skeleton-loader">- {{ addProperty(th, index) }}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let _ of rows">
          <td #td *ngFor="let index of columns">
            <span class="skeleton-loader" style.animation-delay="{{ index + '0ms' }}">
              - {{ addProperty(td, index) }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</ng-container>