<img [src]="imageUrl" alt="Espaço" class="w-100">

<h1 class="titulo mt-4 mb-3">Espaço</h1>

<p class="fw-semibold">
  LOCALIZADO NUM BAIRRO RESIDENCIAL DA CIDADE DE TOLEDO O ATELIÊ DE TRABALHO FOI INAUGURADO EM JANEIRO DE 2005.
  UM ESPAÇO AMPLO E LUMINOSO DEFINIDO POR LINHAS RETAS E FORMAS GEOMÉTRICAS SIMPLES, CRIANDO UM ESTILO
  PRÓPRIO E SINGULAR.
</p>

<p class="fw-semibold">
  NOSSO ESPAÇO DE TRABALHO TRADUZ NOSSA ARQUITETURA, PRÁTICA E FUNCIONAL, QUE VALORIZA O USO DE MATERIAIS REGIONAIS,
  MUITA LUZ NATURAL E CONTATO COM A NATUREZA.
</p>

<p class="fw-semibold">
  PREZAMOS POR UMA ARQUITETURA RACIONAL QUE RESPEITE SEU ENTORNO, COM LINHAS RETAS, ÂNGULOS DIFERENCIADOS E USO DE
  CORES QUE PERMITAM QUE ESTRUTURA E BELEZA CONVIVAM LADO A LADO.
</p>
