figure {
  margin: 0;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  transition: transform .1s;

  &:hover {
    transform: scale(1.04);
  }

  position: relative;
  background-color: lightgray;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &:not(.loaded) {
      opacity: 0;
    }
  }

  &:not(:has(img.loaded)) {
    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -400%;
      width: 400%;
      height: 100%;
      animation-name: loading;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      background-image: linear-gradient(135deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0) 70%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
}

@media screen and (max-width: 500px) {
  figure {
    transform: none !important;
  }
}

@keyframes loading {
  from { left: -400%; }
  to   { left: 0;     }
}
