figure {
  margin: 0;
  transition: transform .1s;

  &:hover {
    transform: scale(1.04);
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 500px) {
  .image {
    width: 100%;
  }

  figure {
    transform: none !important;
  }
}
