<footer class="col site-footer">
  <section id="contato">
    <div class="row g-2">
      <div class="col-sm info">
        <h1 class="titulo">
          Contato
        </h1>

        <span class="d-inline-flex align-items-center gap-2">
          <fa-icon [icon]="icons.telefone" class="me-1" />
          <a href="tel:+5545991572139" class="hover-underline">
            45 9 9157-2139
          </a>
        </span>

        <span class="d-inline-flex align-items-center gap-2">
          <fa-icon [icon]="icons.email" class="me-1" />
          <a href="mailto:projetos@theaprado.com" class="text-lowercase hover-underline">
            projetos&#64;theaprado.com
          </a>
        </span>
      </div>

      <div class="col-auto d-flex align-items-start gap-3 pt-2">
        <a target="_blank" [href]="environment.whatsappUrl" aria-label="Contato no Whatsapp">
          <fa-icon [icon]="icons.whatsapp" size="2x" />
        </a>

        <a target="_blank" [href]="environment.instagramUrl" aria-label="Contato no Instagram">
          <fa-icon [icon]="icons.instagram" size="2x" />
        </a>
      </div>
    </div>
  </section>

  <section id="endereco">
    <h1 class="titulo">
      Estamos aqui
    </h1>

    <span class="localizacao">
      <a target="_blank" class="hover-underline" [href]="environment.googleMapsUrl">
        Rua Bento Munhoz da Rocha Neto, 2577
        <br>
        Jardim La Salle - Toledo - Paraná
      </a>
    </span>
  </section>
</footer>
